<ng4-loading-spinner> </ng4-loading-spinner>
<toaster-container></toaster-container>
<router-outlet></router-outlet>

<!--toaster.success({title: "title", body:"text1"});-->
<!--toaster.error("title", "text2");-->
<!--toaster.pop({type: 'wait', title: "title", body:"text"});-->
<!--toaster.pop('success', "title", '<ul><li>Render html</li></ul>', 5000, 'trustedHtml');-->
<!--toaster.pop('error', "title", '<ul><li>Render html</li></ul>', null, 'trustedHtml');-->
<!--toaster.pop('wait', "title", null, null, 'template');-->
<!--toaster.pop('warning', "title", "myTemplate.html", null, 'template');-->
<!--toaster.pop('note', "title", "text");-->
<!--toaster.pop('success', "title", 'Its address is https://google.com.', 5000, 'trustedHtml'-->
